<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>


</head>
<body style="background-color:powderblue;background-image:url('newimg123.jpg');">
<center><h1>Login</h1>
    <form action="login" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter username"><br><br>
    <input type="password" name="password" placeholder="Enter password"><br><br>
    <input type="submit">
{% for msg in messages %}
 {{msg}}
{% endfor %}
</center>
</body>
</html>